* {
    font-family: 'Trispace', sans-serif;
}

body {
    background-color: black !important;
}

.menuHeader {
    background-color: #000000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 0, 8px;

}

.nav-pills {
    display: flex;
    align-content: center;
}

.news-items{
    
    margin-bottom: 2rem;
    padding: 1rem;
}

.nav-link:hover {
    color: #921c7d !important;
    font-weight: 800;
}

.background-image {
 
    height: 100vh;
    background-image: url(/imágenes/background_2.png)
   
}

.tituloH1 {
    padding-left: 50px;
    font-size: 50px;
    line-height: 15px;
}

.tituloH2 {
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.tituloH3 {
    padding-left: 50px;
    padding-top: 50px;
    font-size: 30px;
}
.tituloH5 {
    color: white;
    font-size: 30px;
}

.parrafo{
    color: white;
}

.exploreItems {
    height: 700px;
    width: auto;   
    background-image: url(/imágenes/background_3.png);
    
    

}

.feature-icon {
    font-size: 20px !important;
    color: #b8bd2d !important;
    padding-bottom: 2px !important;
}

.container1{
    margin-left: 100px !important;
    margin-right: -200px !important;
    padding-right: 0px !important;
    align-content: center !important;
    
    
}

.planetaFondo{
    background-image: url(/imágenes/background_4.png) ; 
    background-position: center;
    height: 1000px;
    margin-bottom: 150px;

}

.fs-2 {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 30px;
}


.aExplore {
    color: white;
    text-decoration: none;
    display: flex;
    width: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 5px;
    --b: 5px;
    /* thickness of the border */
    --c: rgb(188, 204, 66) !important;
    /* color of the border */
    --w: 20px;
    /* width of border */
    border: var(--b) solid #0a0a0a00 !important;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.aExplore:hover {
    color: #921c7d;
    font-weight: 800;
}

.planeta{
    width: 350px !important;   
}

.mascara{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   
}
.planet{
   
    transition: transform 1s;
    padding-bottom: 45px;
    
}

.planet:hover {
    transform: scale(1.1, 1.1);
  }
  .readIt{
   
    transition: transform 1s;
}

.readIt:hover {
    transform: scale(1.1, 1.1);
  }



  .card{
    background-color: inherit !important;
    border-bottom: 4px double #e1ff00 !important;
    border-left: 4px double #e1ff00 !important;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-right: 60rem;
  }
  
.card-text{
    color: grey;

  } 
  .btn{
    font-weight:bold !important;
    --b: 2px;
    --c: #e1ff00 !important;
    /* color of the border */
    --w: 10px;
    /* width of border */
    border: var(--b) solid #0a0a0a00 !important;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

  }

  .cohete{
    position: sticky !important;
    top: 10%;  
    right: 15%;
    min-height: 15rem;
   
  }


 .smedia{
    font-size: 20px !important;
    color: white !important;
    
  }

